/*----------canvas--------------*/
.background {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 0;
	}
	
	/*----------wrapper-----------*/
	#wrapper{
		font-family: 'Indie Flower', cursive;
	}
	/*---------maindisplay-----------*/
	#maindisplay{
		height: 100vh;
		background:white;
		position: relative;
	}
	
	#maintitle{
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform : translate(-50%,-50%);
		transform : translate(-50%,-50%);
		text-align: center;
		font-size: 5em;
		font-family: 'Indie Flower', cursive;
		color:black;
		line-height: 1.3em;
	}
	
	/*------------contents-------------*/
	#contents{
		height: 100vh;
	}
	
	/*----------profile skill-------------*/
	#profile{
		text-align: center;
		box-sizing: border-box;	
	}
	#profile h2{
		font-size: 2em;
		padding:2% 0 2% 0;
	}
	.profile_main img{
		max-width:100%;
		padding:1px;
		border:1px solid red;
		border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
		animation: gradationTest 5s infinite;
	}
	@keyframes gradationTest {
		0% { border:2px solid #6CB8FF;  }
		50% { border:2px solid #FFF66C; }
		100% {  border:2px solid #FFA36C; }
	}
	
	.profile_con{
		display: flex;
	}
	.profile_sub{
		width: 40%;
		margin:0 8% 0 2%;
	}
	.profile_main{
		width: 40%;
		margin:0 2% 0 8%;
	}
	.profile_sub h3{
		font-size: 1.8em;
		margin-bottom: 0.8em;
	}
	.profile_sub p{
		letter-spacing: 0.1em;
		line-height: 1.5;
		margin-bottom: 1em;
		font-family: 'M PLUS 1p', sans-serif;
	}

	.skill{
		margin-top: 3em;
		width: 100%;
		z-index: 2;
	}
	.skill img{
		max-width: 100%;
	}
	.skill p{
		text-align: center;
	}
	
	/*------------works---------------*/
	#works{
		overflow: hidden;
		text-align: center;
	}
	
	#works h2{
		margin:1em 0 0 0;
		font-size: 2em;
	}
	
	#works h3{
		font-size: 1.6em;
		margin:1.8em 0 2em 0;
	}

	#works h4{
		margin:0em 0 1em 0;
		font-family: 'M PLUS 1p', sans-serif;

	}
	
	#works img{
		width: 100%;
	}
	.works_contents{
		width: 80%;
		margin:0 auto;
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
	}
	
	.works_contents li{
		width: 40%;
		margin:0 5% 5% 5%;

	}

	
	/*---------content(hover)----------*/
	.more{
		position: relative;
		display: block;
		overflow: hidden;
		width: 100%;
		background:#000;
		cursor: pointer;
	}
	.more_img{
		transition: all 0.3s ease-out;
	}
	.more_bg{
		width: 100%;
		opacity: 1;
		border: solid 1px #000;
	}
	.more_font{
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		font-size: 3em;
		color: #fff;
		opacity: 0;
		transition: all 0.3s ease-out;
	}

	.more:hover .more_font {
		opacity: 1;
	}
	
	.more:hover .more_img{
		opacity:0.5;	
	}
	
	
	/*----------smartphone---------*/
	@media screen and (max-width: 768px) {
		/* 768pxまでの幅の場合に適応される */
		/*-----------Profile------------*/
		#profile h2{
			margin-bottom: 0.7em;
		} 
		.profile_con{
			display:block;
		}
		.profile_main{
			width:300px;
			margin: 0 auto 5% auto;
		}
		.profile_main img{
			width: 70%;
		}
		.profile_sub{
			width: 90%;
			margin:0 auto;
		}
		.profile_sub br{
			display:none;
		}
	
		
	
	
		/*-------------Skill--------------*/
		.skill{
			width: 100%;
			margin-top: 10%;
			box-sizing: border-box;
		}
		.skill img{
			width: 20%;
		}
		.skill h3{
			margin-bottom: 5%;
		}
	
		/*-------------Works--------------*/
		#works h3{
			margin-bottom: 2em;
		}
		.works_contents{
			display: block;
		}
		.works_contents li{
			width: 80%;
			margin:0 auto 2em auto;
		}
		.more {
			border:solid 1px rgb(207, 207, 207);
		}
		.more_bg{
			border: none;
			display: inline-block;
			position: relative;
		}
		.more_bg:after{
			content: "MORE";
			position: absolute;
			top: 70%;
			left: 95%;
			display: inline-block;
			-moz-transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translate(-50%); /*位置調整*/
			background-color: #000; 
			color:#fff;
			width: 50px;
			height: 50px;
			text-align:center;
			line-height: 50px;
			border-radius: 50%;
		}
		
	}